<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <ul th:if="${condition}">
        <li th:each="u : ${users}" th:text="${u.name}">user name</li>
    </ul>
    <a href="/greeting">Submit another message</a>
</body>
</html>
